<!-- discussion.html discussion -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Discussion</title>
    <link href="styles4.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>

  <body>
    <!-- Include the navigation bar -->
    <nav>
        <!-- Adding the logo image -->
        <div class="logo">
          <a href="/home"><img src="img/DishDaddy logo.png" class="img-fluid"></a>
        </div>
        
        <ul>
            <!--<li><a href="/">Home</a></li> -->
            <li><a href="/explorePage">EXPLORE</a></li>
            <li><a href="/myRecipe">MY RECIPE</a></li>
            <li><a href="/discussion">DISCUSSION</a></li>
        </ul>

        <!-- Adding a search bar -->
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search">
            </form>
        </div>
    </nav>

    <br />

    <div class="roundedOrangeCorners" style="padding-right: 40px">
      <div class="row">
        <div class="column">
          <br />
          <h3>Discover</h3>
          <h2>COMMUNITIES</h2>
        </div>
        <div class="column"><br /></div>
        <div class="column">
          <br />
          <div class="topnav">
            <input type="text" placeholder="Find Communities...      ðŸ”ï¸Ž" />
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 1 Image"
            style="border-radius: 10%"
          />
          <h2>Community 1 Name</h2>
          <p>Member Count</p>
        </div>
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 2 Image"
            style="border-radius: 10%"
          />
          <h2>Community 2 Name</h2>
          <p>Member Count</p>
        </div>
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 3 Image"
            style="border-radius: 10%"
          />
          <h2>Community 3 Name</h2>
          <p>Member Count</p>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 4 Image"
            style="border-radius: 10%"
          />
          <h2>Community 4 Name</h2>
          <p>Member Count</p>
        </div>
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 5 Image"
            style="border-radius: 10%"
          />
          <h2>Community 5 Name</h2>
          <p>Member Count</p>
        </div>
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 6 Image"
            style="border-radius: 10%"
          />
          <h2>Community 6 Name</h2>
          <p>Member Count</p>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 7 Image"
            style="border-radius: 10%"
          />
          <h2>Community 7 Name</h2>
          <p>Member Count</p>
        </div>
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 8 Image"
            style="border-radius: 10%"
          />
          <h2>Community 8 Name</h2>
          <p>Member Count</p>
        </div>
        <div class="column">
          <img
            src="image/example_Community_Image.jpg"
            width="300"
            height="200"
            alt="Community 9 Image"
            style="border-radius: 10%"
          />
          <h2>Community 9 Name</h2>
          <p>Member Count</p>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
