<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DishDaddy website</title>
    <link rel="stylesheet" type="text/css" href="/styles4.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
    <!-- Include the navigation bar -->
    <nav>
        <!-- Adding the logo image -->
        <div class="logo">
            <a href="/home"><img src="img/DishDaddy logo.png" class="img-fluid"></a>
        </div>
        
        <ul>
            <!--<li><a href="/">Home</a></li> -->
            <li><a href="/explorePage">EXPLORE</a></li>
            <li><a href="/myRecipe">MY RECIPE</a></li>
            <li><a href="/discussion">DISCUSSION</a></li>
        </ul>

        <!-- Adding a search bar -->
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search">
            </form>
        </div>
    </nav>

    
    <!-- The explore page code -->
    <h3>RECIPES</h3>

    <div class="explorePageSort">
        <button type="button">Cuisine</button>
        <button type="button">Ingredient</button>
        <button type="button">Meal Type</button>
        <div class="sortBar">
            <form action="/sortBy" method="GET">
                <label for="sortBar">Sort By: </label>
                <input type="text" name="query" placeholder="">
            </form>
        </div>
    </div>

    <div class="explorePageImage">
        <div class="card">
            <div class="foodimage">
                <img src="img/pasta.jpg">
            </div>
            <div class="central-div">
                <h3>Pasta<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
        <div class="card">
            <div class="foodimage">
                <img src="img/sandwich.jpg">
            </div>
            <div class="central-div">
                <h3>Sandwich<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
        <div class="card">
            <div class="foodimage">
                <img src="img/strawberry cake.jpg">
            </div>
            <div class="central-div">
                <h3>Strawberry Cake<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
        <div class="card">
            <div class="foodimage">
                <img src="img/tomato soup.jpg">
            </div>
            <div class="central-div">
                <h3>Tomato Soup<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
        <div class="card">
            <div class="foodimage">
                <img src="img/pasta.jpg">
            </div>
            <div class="central-div">
                <h3>Pasta<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
        <div class="card">
            <div class="foodimage">
                <img src="img/sandwich.jpg">
            </div>
            <div class="central-div">
                <h3>Sandwich<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
        <div class="card">
            <div class="foodimage">
                <img src="img/strawberry cake.jpg">
            </div>
            <div class="central-div">
                <h3>Strawberry Cake<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
        <div class="card">
            <div class="foodimage">
                <img src="img/tomato soup.jpg">
            </div>
            <div class="central-div">
                <h3>Tomato Soup<br><br>Review: 4/5</h3>
                <i class="material-icons bookmark-icon">bookmark</i>
            </div>
        </div>
    </div>
    

    <!-- The code for the bookmark icon to become red when clicked -->
    <script>
        var bookmarkIcons = document.querySelectorAll(".bookmark-icon");
        
        bookmarkIcons.forEach(function(bookmarkIcon) {
            bookmarkIcon.addEventListener('click', function() {
                bookmarkIcon.classList.toggle('bookmarkClicked');
            });
        });
    </script>
    
    

</body>
</html>
