<!DOCTYPE html>
<html>
<head>
    <title>DishDaddy</title>
    <link rel="stylesheet" type="text/css" href="/styles4.css">
</head>
<body>
    <nav>
        <!-- Adding the logo image -->
        <div class="logo">
            <img src="img/DishDaddy logo.png" class="img-fluid">
        </div>
        
        <ul>
            <!--<li><a href="/">Home</a></li> -->
            <li><a href="/explorePage">EXPLORE</a></li>
            <li><a href="/myRecipe">MY RECIPE</a></li>
            <li><a href="/discussion">DISCUSSION</a></li>
        </ul>

        <!-- Adding a search bar -->
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search">
                <!--<button type="submit">Search</button>-->
            </form>
        </div>
    </nav>
</body>
</html>